@font-face {
  font-family: "Super Legend Boy";
  src: url("./fonts/super-legend-boy.woff") format("woff");
}

@font-face {
  font-family: "Pocket Monk";
  src: url("./fonts/pocket-monk.woff") format("woff");
}
:root {
  --background-color: #29aafd;
  --primary-color: #fce021;

  --footer-color: #e8edef;
  --heart-color: #e74c3c;
  --font-family: "Super Legend Boy", sans-serif;
}
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--background-color);
  font-family: var(--font-family);
  font-size: 1.6rem;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
h1 {
  font-family: "Pocket Monk", sans-serif;
  font-size: 14.2rem;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 93.5vh;
}
.header {
  color: var(--primary-color);
  padding: 2rem 0;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, 2px 20px 0 #000,
    2px 20px 0 #000;
}
#form {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}
#form > input {
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  font-size: 1.6rem;
  padding: 1rem;
  min-width: 210px;
  width: 100%;
}
#form > button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.5rem;
  color: var(--background-color);
  font-size: 1.6rem;
  padding: 1rem;
  min-width: 80px;
}
#form > button:hover {
  background-color: #f1c40f;
  cursor: pointer;
}
#form > button:active {
  background-color: #f1c40f;
  transform: scale(0.95);
}
#form > button:disabled {
  background-color: #f1c40f;
  opacity: 0.5;
}
.pokedex-wrapper {
  max-width: 1200px;
  margin-top: 4rem;
  margin-right: 28rem;
}
svg {
  width: 190%;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--footer-color);
  padding: 2rem;
}
footer p {
  font-size: 1.4rem;
}
.heart {
  color: var(--heart-color);
  margin: 0 0.5rem;
}
/* mobile */
@media (max-width: 768px) {
  .container {
	min-height: 93.5vh;
  }
  h1{
	font-size: 10rem;
  }
  .pokedex-wrapper {
	margin-top: 0;
	margin-right: 0;
  }
  svg {
	width: 100%;
  }
}
